.btn_56 {
    height: 56px;
}
.table__filters {
    .wrapper_start {
        gap: 24px;
    }
    .providerscard__watched__subtitle {
        margin-top: 5px;
    }
}
.catalogFilters {
    &__table {
        &__another-city {
            text-align: center;
            margin-left: 200px;
        
            img {
                display: block;
                margin: 0 auto 16px;
            }
            .fs_20 {
                margin-bottom: 2;
            }
           
        }
        &__banner {
            td {
                background-color: #fff !important;
                
            }
            &-city {
                td {
                    height: 229px;
                }
            }
        }
    }
}

.filters__wrap {
    max-height: 800px;
}
.filters-top-menu {
    display: none;
}

.filter-top {
    .catalogFilters__banners {
      display: none;
        
    }
    
    .filters-top-menu {
        display: flex;
        height: 48px;
        align-items: center;
        gap: 24px;
        .change-filters {
            background-color: #2764E0;
            color: #fff;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            display: block;
            height: 100%;
            padding: 2px 24px;
            transition: background-color .3s;
            &:hover {
                background-color: #3473f4;
            }
            &:active {
                background-color: #104cc4;
            }
        }
        .catalogFilters__link {
            margin-left: auto;
        }
    }
    max-height: 48px;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    transition: max-height .3s;
    z-index: 10;
    max-width: 992px;
    &-show {
        max-height: 514px;
    }
    
}