.btn_56 {
    height: 56px;
}
.table__filters {
    padding-bottom: 31px;
    margin-bottom: 10px;
    margin-top: 15px;
    .wrapper_start {
        gap: 24px;
        height: auto;
        button {
            cursor: pointer;
            font-size: 20px;
            color: #2764E0;
            font-weight: 600;
            
            border-bottom: 1px dotted #2764e0;
           
        }
    }
    .providerscard__watched__subtitle {
        margin-top: 5px;
        padding-left: 24px;
        padding-right: 24px;
        max-width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}
.catalogFilters {
    &__table {
        &__another-city {
            text-align: center;
            margin-left: 200px;
        
            img {
                display: block;
                margin: 0 auto 16px;
            }
            .fs_20 {
                margin-bottom: 2px;
            }
           
        }
        &__banner {
            td {
                background-color: #fff !important;
                
            }
            &-city {
                td {
                    height: 229px;
                }
            }
        }
       
       
    }
    &__link {
        margin-left: auto;
        &-saved {
            display: none;
        }
    }
    .select__name__wrap {
        display: none;
    }
    .btn {
        width: 286px;
    }
    .catalogFilters__form {
        
        padding-bottom: 26px;
    }
    .form__wrapper_mb22 {
        margin-bottom: 18px;
    }
}

.filters__wrap {
    max-height: 1000px;
}
.filters-top-menu {
    display: flex;
    height: 48px;
    align-items: center;
    gap: 24px;
    position: fixed;
    top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-60px);
    z-index: 10;
    max-width: 992px;
    width: 992px;
    background-color: #fff;
    overflow: hidden;
    transition: transform .2s;
    .change-filters {
        background-color: #2764E0;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        height: 100%;
        padding: 2px 24px;
        transition: background-color .3s;
        gap: 8px;
        &::before {
            content: '';
            width: 13px;
            height: 8px;
            display: block;
            background: url(../img/arrow-white-down.svg) no-repeat center/contain;
            
            
        }
        
        &:hover {
            background-color: #3473f4;
        }
        &:active {
            background-color: #104cc4;
        }
    }
    .catalogFilters__link {
        margin-left: auto;
       
    }
}

.filter-top {
    .catalogFilters__banners {
      display: none;
        
    }
    
   
    
    max-height: 48px;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    transition: max-height .1s;
    z-index: 10;
    max-width: 992px;
    width: 992px;
    &-show {
        max-height: 514px;
        .filters-top-menu {
            .change-filters {
                &::before {
                    transform: rotate(0);
                }
            }
        }
    }
    
}
