@media screen and (max-width:768px) {
    .catalogFilters {
        &__title {
            padding-top: 0;
        }
        &__table {
            .table {
                &__metallobaza {
                    margin-top: 19px;
                    padding-top: 18px !important;
                    margin-bottom: 8px;
                    .btn_gray {
                        border: 1px solid #2764e0;
                        border-radius: 6px;
                        font-weight: 400;
                        font-size: 14px;
                        color: #2764e0;
                        background-color: #fff;
                    }
                }
            }
            &__another-city {
                margin-left: 0;
               .fs_20 {
                font-size: 16px;
               }
               .fs_14 {
                font-weight: 400;
                width: 100%;
                
               }
            }
            &__banner-city {
                td {
                    background-color: transparent !important;
                    img {
                        width: 50%;
                    }
                }
            }
        }
        .form__wrapper {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 8px;
            margin-bottom: 8px;
            .btn {
                position: fixed;
                bottom: 40px;
                z-index: 10;
                width: calc(100% - 48px);
            }
        }
        .form__wrapper.grid__wrapper {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 8px;
            padding: 16px 24px;
            border-radius: 12px;
            background: #fff;
            width: 100%;
            margin-bottom: 0;
        }
        .w100 {
            padding: 16px 24px;
            border-radius: 12px;
            background: #fff;
            width: 100%;
        }
        &__form {
            background: #F2F2F4;
            padding-left: 0;
            padding-right: 0;
            display: block;
            padding-top: 60px;
            &__wrap {
                .form__item_w47 {
                    padding: 16px 24px;
                    border-radius: 12px;
                    background: #fff;
                    width: 100%;
                    &:nth-child(2) {
                        order: 1;
                    }
                    &:nth-child(1) {
                        order: 2;
                    }
                }
            }
            .wrapper__btns {
                margin-top: 24px;
                .wrapper_start {
                    width: 100%;
                }
                .catalogFilters__link {
                    width: calc(100% - 32px);
                    border-radius: 6px;
                    height: 44px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    position: relative;
                    text-align: center;
                    display: flex;
                    padding: 12px 0;
                    &-saved {
                        display: none;
                        background-color: #E9F0FC;
                        border: 1px solid #2764e0;
                        &::after {
                            content: '';
                            position: absolute;
                            width: 13px;
                            height: 9px;
                            display: block;
                            background: url(../img/check-blue.svg) no-repeat center/contain;
                            top: 50%;
                            right: 16px;
                            transform: translateY(-50%);

                        }
                    }
                    &-reset {
                        display: none;
                    }
                    img {
                        position: absolute;
                        left: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .metallobaza {
            padding: 16px 24px;
            border-radius: 12px;
            background: #fff;
            width: 100%;
            margin-bottom: 8px;
        }
        .form__divider {
            margin-bottom: 7px;
        }
        &__header.mobile {
            button {
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-44%);
            }
        }
    }
    .table__filters {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 16px;
        padding-top: 0;
        .wrapper_start {
            .fs_20 {
                display: none;
            }
        }
        .providerscard__watched__subtitle {
            background: rgba(39, 100, 224, .2);
            max-width: fit-content;
            margin-top: 0;
            padding: 2px 16px 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
        .showFilters {
            width: calc(100% + 12px);
            height: 70px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.12);
            margin-top: 16px;
            padding: 16px;
            
            line-height: normal;
            .blue {
                font-size: 14px;
                line-height: normal;
            }
            .wrapper_center {
                border: 1px solid #2764e0;
                border-radius: 6px;
                
                height: 38px;
                position: relative;
                img {
                    position: absolute;
                    left: 16px;
                }
            }
        }
        .fs_12 {
            color: #6c757d;
            max-width: 80%;
            align-self: flex-start;
            margin-top: 16px;
        }
    }
}