.modal {
    &__subscribe-new {
        
        max-width: 712px;
        padding: 48px 48px 60px;
        background-color: #fff;
        border-radius: 15px;
        
        p {
            text-wrap: balance;
        }
        &__list {
            &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 0;
                border-bottom: 1px solid #f2f2f4;
            }
        }
    }
    &__vacancies {
        box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
        border-radius: 15px;
        max-width: 712px;
        padding: 48px 48px 60px;
        .vac-send__content {
            max-width: 100%;
        }
    }
}

