button {
    font-family: inherit;
}
.back {
    &__links {
        padding: 16px 16px 8px;
        gap: 12px;
    }
    &__link {
        font-weight: 400;
        font-size: 11px;
        color: #6c757d;
        line-height: normal;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 12px;
        &:after {
            content: '';
            width: 5px;
            height: 9px;
            display: inline-block;
            background: url(../img/gray-arrow.svg) no-repeat center/contain;
            margin-top: 2px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}
@import '_catalogFilters.scss';
@import '_main.scss';
@import '_media.scss';